.mt-10 {
    margin: 10px 0px;
}

.conheight {
    max-height: 95%;
    box-sizing: border-box;
    overflow: auto;
}

.page {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.titStyle {
    font-weight: bolder;
}
.content {
    width: 98%;
    height: 80%;
}