.mt-10 {
    margin: 10px 0px;
}

.conheight {
    max-height: 439px;
    box-sizing: border-box;
    overflow: auto;
}

.page {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
}

.titStyle {
    font-weight: bolder;
}